/*
	Home Page related css
*/

html {
    height: 100vh;
}

.pas-home-list {
    width: 100%;
}

.pas-home-list>.w-dyn-item {
    padding: 0.5em;
}


/*
	Required fields css
*/

.required-field-indicator {
    color: red;
}

.required-field-indicator span.pre:after {
    content: '*';
}


/*
	Fixes the weird horizontal scrollbar showing when doing transitions
*/

.list-wrapper {
    overflow-x: hidden;
}

/*
	Fixes the positioning of the ID on cards
*/

.list-id-cont {
    position: relative;
    left: 317px;
    bottom: 99px;
}

@media (max-width: 479px) {
    .list-id-cont {
        left: 7px;
        bottom: 128px;
        float: right;
    }
}

.error {
    background: #FF9999;
    border-color: #ff8181;
}

.success {
    background: #a2d392;
    border-color: #84c46e;
}

.flash-text {
    font-size: 20px;
}

.message {
    position: relative;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    min-height: 3em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    font-family: 'Sf ui display', sans-serif;
    cursor: pointer;
}

.flash-div {
    width: 100%;
    top: 60px;
    position: absolute;
    width: 25%;
    top: 70px;
    right: 50px;
    z-index: 9001;
}

@media (max-width: 479px) {
    .flash-div {
        width: 100%;
        top: 60px;
        right: 0px;
    }
}

.success-close {
    font-size: 15px;
    position: absolute;
    top: 0px;
    right: 7px;
    font-color: #477f34;
}

.error-close {
    font-size: 15px;
    position: absolute;
    top: 0px;
    right: 7px;
    font-color: #ff8181;
}


/* generic switch */

.switch {
    background: #eee;
    border-radius: 32px;
    display: block;
    height: 32px;
    position: relative;
    width: 80px;
}

.switch input {
    height: 32px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 2;
}

.switch input:checked~.toggle {
    left: 4px;
}

.switch input~:checked~.toggle {
    left: 50px;
}

.switch input:checked {
    z-index: 0;
}

.toggle {
    background: #0172ff;
    border-radius: 50%;
    height: 28px;
    left: 0;
    position: absolute;
    top: 2px;
    -webkit-transition: left .2s ease;
    -moz-transition: left .2s ease;
    -ms-transition: left .2s ease;
    -o-transition: left .2s ease;
    transition: left .2s ease;
    width: 28px;
    z-index: 1;
}


/* Adopter DO NOT ADOPT switch */

.switch-dna input:checked~.toggle {
    left: 4px;
    background: #0172ff;
}

.switch-dna input~:checked~.toggle {
    left: 50px;
    background: #ff0000;
}

.adopt-no {
    color: #ff0000;
}


/*.dna-card-big {
    background: #ffb3b3;
}*/

.dna-card-small {
    background: #ff8080;
}

.dna-reason {
    display: none;
}

.profile-action-button,
.profile-action-button-cont {
    cursor: pointer;
}

.cursor-point {
    cursor: pointer;
}

.add-adopter-floating-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
}

.page {
    background-image: url('../img/Arctic-Mountains-1920x1080.png');
}
.full-width {
    display: inline-block;
}

.example-tag-wrapper {
    text-align: center;
}

.example-tag-div {
    display: inline-block;
    margin-bottom: 3em;
}

.new-tag-btn {
    background-color: #3898EC;
    border-radius: 5px;
}
