/*
	Home Page related css
*/
.pas-home-list{
	width:100%;
}
.pas-home-list > .w-dyn-item{
	padding:0.5em;
}

/*
	Required fields css
*/
.required-field-indicator {
	color: red;
}
.required-field-indicator span.pre:after {
	content: '*';
}